* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: 'Muli', sans-serif;
}
h1 {
  font-size: 78px;
  margin-top: 70px;
  margin-bottom: 70px;
  text-shadow: 6px 6px 6px rgb(0, 0, 0, 0.16);
}
.login_form {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
input {
  color: #777777;
  width: 434px;
  height: 80px;
  border: 1px solid #707070;
  border-radius: 40px;
  margin-bottom: 55px;
  padding-left: 44px;
  justify-content: center;
  font-size: 30px;
  box-shadow: 6px 6px 9px rgb(0, 0, 0, 0.1);
}

input::placeholder {
  color: #9a9a9a;
  font-size: 30px;
  font-family: 'Muli Extralight';
}

.login {
  width: 434px;
  height: 68px;
  border-radius: 40px;
  border: 0px;
  font-size: 27px;
  color: white;
  background-image: linear-gradient(to right, #4a7fe9, #00ffa8);
  box-shadow: 6px 6px 9px rgb(0, 0, 0, 0.16);
  margin-top: 10px;
  cursor: pointer;
}

.login:hover {
  box-shadow: 6px 6px 9px rgb(0, 0, 0, 0);
}

.register {
  text-decoration: none;
  color: #9a9a9a;
  font-size: 24px;
  margin-top: 25px;
  text-shadow: 6px 6px 9px rgb(0, 0, 0, 0.16);
}

.err {
  text-align: center;
  display: none;
}
.err2 {
  text-align: center;
  color: #313131;
  background-color: rgb(255, 146, 146);
  border: 2px solid rgb(255, 77, 77);
  width: 434px;
  height: 60px;
  margin: auto;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 45px;
  margin-top: -40px;
  list-style-type: none;
}
.succ {
  text-align: center;
  color: #313131;
  background-color: rgb(150, 255, 146);
  border: 2px solid rgb(107, 255, 77);
  width: 434px;
  height: 60px;
  margin: auto;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 45px;
  margin-top: -40px;
  list-style-type: none;
}
.bottom {
  margin-top: 68px;
}
.logout {
  visibility: hidden;
  width: 434px;
  height: 68px;
  border-radius: 40px;
  border: 0px;
  font-size: 27px;
  color: white;
  background-image: linear-gradient(to right, #4a7fe9, #00ffa8);
  box-shadow: 6px 6px 9px rgb(0, 0, 0, 0.16);
  margin-top: 10px;
  margin-bottom: 25px;
  cursor: pointer;
}

.logout:hover {
  box-shadow: 6px 6px 9px rgb(0, 0, 0, 0);
}

.profile {
  visibility: hidden;
  text-decoration: none;
  color: #9a9a9a;
  font-size: 24px;
  margin-top: 50px;
  text-shadow: 6px 6px 9px rgb(0, 0, 0, 0.16);
}
