* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Muli", sans-serif;
  color: white;
  letter-spacing: 1px;
  background-image: linear-gradient(to bottom, #1e96ff, #aa56ff);
  background-repeat: no-repeat;
}

h1 {
  font-size: 100px;
  text-align: center;
  text-shadow: 6px 6px 6px rgb(0, 0, 0, 0.16);
  margin-top: 100px;
  margin-bottom: 60px;
}
.login_form {
  text-align: center;
}

input {
  width: 434px;
  height: 80px;
  margin-bottom: 55px;
  border-radius: 40px;
  border: 0px;
  box-shadow: 6px 6px 9px rgb(0, 0, 0, 0.1);
  padding-left: 44px;
  color: black;
  font-size: 30px;
  font-family: "Muli Extralight";
}
input::placeholder {
  color: black;
  font-size: 30px;
  font-family: "Muli Extralight";
}
.signin {
  color: white;
  font-size: 27px;
  font-family: "Muli";
  box-shadow: 6px 6px 9px rgb(0, 0, 0, 0.16);
  margin-top: 15px;
  background-color: #48f8a6;
  border: 0px;
  border-radius: 40px;
  width: 160px;
  margin-bottom: 43px;
  height: 68px;
  cursor: pointer;
}
.signin:hover {
  box-shadow: 6px 6px 9px rgb(0, 0, 0, 0);
}
.signin:active {
  box-shadow: 6px 6px 9px rgb(0, 0, 0, 0);
  background-color: #36bd7e;
}
.back {
  text-decoration: none;
  font-family: "Muli Light";
  font-size: 27px;
  color: white;
  text-shadow: 6px 6px 9px rgb(0, 0, 0, 0.16);
}
